<div class="modal-header">
  <h4 class="modal-title">New recipe</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Name
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="full-input">
          <input matInput placeholder="Recipe name" />
        </mat-form-field>

        <mat-action-row>
          <button class="btn btn-outline-success btn-sm" (click)="nextStep()">
            Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="markdown-input">
          <textarea
            matInput
            placeholder="Description"
            [(ngModel)]="markdown"
          ></textarea>
        </mat-form-field>
        <div class="markdown-container">
          <markdown matInput [data]="markdown"></markdown>
        </div>

        <mat-action-row>
          <button class="btn btn-light btn-sm" (click)="prevStep()">
            Previous
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="nextStep()">
            Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Image
          </mat-panel-title>
        </mat-expansion-panel-header>
        <input type="file" (change)="fileChangeEvent($event)" />
        <div class="image-crop-container">
          <div class="image-cropper">
            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 3"
              [resizeToWidth]="215"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
          </div>
          <div class="cropped-image">
            <img [src]="croppedImage" />
          </div>
        </div>
        <mat-action-row>
          <button class="btn btn-light btn-sm" (click)="prevStep()">
            Previous
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="nextStep()">
            Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 3"
        (opened)="setStep(3)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Metadata
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Tag chips -->
        <mat-form-field style="width: 100%">
          <mat-chip-list #tagChipList aria-label="Tag selection">
            <mat-chip
              *ngFor="let tag of tags"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(tag)"
            >
              {{ tag }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Tags..."
              #tagChipInput
              [formControl]="tagCtrl"
              [matAutocomplete]="autoTags"
              [matChipInputFor]="tagChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
          <mat-autocomplete
            #autoTags="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{ tag }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Tag chips over -->
        <!-- Category chips -->
        <mat-form-field style="width: 100%">
            <mat-chip-list #catChipList aria-label="Category selection">
              <mat-chip
                *ngFor="let cat of cats"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="catRemove(cat)"
              >
                {{ cat }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Categories..."
                #catChipInput
                [formControl]="catCtrl"
                [matAutocomplete]="autoCats"
                [matChipInputFor]="catChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="catAdd($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #autoCats="matAutocomplete"
              (optionSelected)="catSelected($event)"
            >
              <mat-option *ngFor="let cat of filteredCats | async" [value]="cat">
                {{ cat }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- Tag chips over -->
        <mat-action-row>
          <button class="btn btn-light btn-sm" (click)="prevStep()">
            Previous
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="nextStep()">
            Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 4"
        (opened)="setStep(4)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preview
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-row>
          <button class="btn btn-light btn-sm" (click)="prevStep()">
            Previous
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="modal.close('Close click')"
  >
    Add
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="modal.close('Close click')"
  >
    Close
  </button>
</div>
