.content {
  display: flex;
  flex-direction: column;
  .full-input {
    width: 100%;
  }
  .markdown-input {
    width: 48%;
  }
  .markdown-container {
    width: 48%;
    float: right;
  }
  .image-crop-container {
    display: flex;
    .image-cropper {
      width: 70%;
    }
    .cropped-image {
      margin-left: 15px;
      align-self: center;
    }
  }
}
