<div class="modal-header">
  <h4 class="modal-title">New recipe</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Name
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="full-input">
          <input matInput placeholder="Recipe name" />
        </mat-form-field>

        <mat-action-row>
          <button class="btn btn-outline-success btn-sm" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
            <!-- TODO: Add markdown editor and viewer here-->
            <input matInput placeholder="Country" />
        </mat-form-field>

        <mat-action-row>
          <button class="btn btn-light btn-sm" (click)="prevStep()">Previous</button>
          <button class="btn btn-outline-success btn-sm" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Image
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- <mat-form-field>
          <input
            matInput
            placeholder="Date"
            [matDatepicker]="picker"
            (focus)="picker.open()"
            readonly
          />
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker> -->

        <mat-action-row>
          <button class="btn btn-light btn-sm" (click)="prevStep()">Previous</button>
          <button class="btn btn-outline-success btn-sm" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="modal.close('Close click')"
  >
    Add
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="modal.close('Close click')"
  >
    Close
  </button>
</div>
