table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  border: 2px solid black;
  padding: 8px;
  margin: 8px 0;
  img {
    width: 34vh;
  }
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  max-width: 50vw;
  min-width: 50vw;
}

.dashboard-container {
  min-height: 85vh;
}

.example-element-description-attribution {
  opacity: 0.5;
}
