<div class="container">
  <app-jumbotron></app-jumbotron>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">
            Category name
          </strong>
          <h3 class="mb-0">Title</h3>
          <div class="mb-1 text-muted">Oct 10</div>
          <p class="card-text mb-auto">Short description of the recipe</p>
          <a class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img style="max-width:100%;max-height:100%;" src="https://via.placeholder.com/200">
        </div>
      </div>
    </div>
  </div>
</div>
